/* Buttons */
.button {
  background-color: $dark-gray;
  border: none;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: .75rem 2rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $brand-blue;
  }
}