/* Header */
.header {
  background-color: white;

  .navbar{

    &-brand {
      height: 37px;
      padding: 0;

      img {
        display: block;
        height: 100%;
        width: auto;
      }
    }

    &-nav {
      .nav-link {
        padding-left: .5rem;
        padding-right: .5rem;
        transition: all .3s ease-in-out;

        &:focus,
        &:hover {
          background-color: $mid-light-gray;
        }
      }
    }
  }

  &__login {
    margin: 0;

    @include medium {
      display: block;
      margin-left: auto;
    }

    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      @include large {
        display: flex;
      }

      li {
        
        @include large {
          border-radius: .5rem;
          overflow: hidden;
        }

        + li {
          @include large {
            margin: 0 0 0 .5rem;
          }
        }

        a {
          background-color: $light-blue;
          color: $mid-gray;
          display: block;
          font-weight: $font-medium;
          line-height: 2rem;
          padding: 0 .5rem;
          text-decoration: none;
          transition: all .3s ease-in-out;

          &:focus,
          &:hover {
            color: white;
            background-color: $brand-blue;
          }

          i {
            display: none;

            @include large {
              display: inline-block;
            }
          }

          span {
            margin: 0 0 0 .25rem;
          }
        }
      }
    }
  }
}