// Color Pallete
$brand-yellow: #fcb332;
$brand-blue: #1167B1;
$light-blue: #AEE0F7;
$green: #20bdbe;
$red: #EE3939;
$light-gray: #F8F9FA;
$mid-light-gray: #DEE2E6;
$mid-gray: #6C757D;
$dark-gray: #323A4F;

// Fonts
$font-title: "Montserrat", sans-serif;
$font-text: "Montserrat", sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
