/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Montserrat:wght@300;400;500;700&display=swap");
/* Default */
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  height: 100%;
}

body {
  background: #F8F9FA;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #323A4F;
  min-height: 100%;
}

.main {
  position: relative;
}

/* Buttons */
.button {
  background-color: #323A4F;
  border: none;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.75rem 2rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.button:focus, .button:hover {
  background-color: #1167B1;
}

/* Header */
.header {
  background-color: white;
}
.header .navbar-brand {
  height: 37px;
  padding: 0;
}
.header .navbar-brand img {
  display: block;
  height: 100%;
  width: auto;
}
.header .navbar-nav .nav-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar-nav .nav-link:focus, .header .navbar-nav .nav-link:hover {
  background-color: #DEE2E6;
}
.header__login {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .header__login {
    display: block;
    margin-left: auto;
  }
}
.header__login-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .header__login-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  .header__login-list li {
    border-radius: 0.5rem;
    overflow: hidden;
  }
}
@media only screen and (min-width: 992px) {
  .header__login-list li + li {
    margin: 0 0 0 0.5rem;
  }
}
.header__login-list li a {
  background-color: #AEE0F7;
  color: #6C757D;
  display: block;
  font-weight: 500;
  line-height: 2rem;
  padding: 0 0.5rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__login-list li a:focus, .header__login-list li a:hover {
  color: white;
  background-color: #1167B1;
}
.header__login-list li a i {
  display: none;
}
@media only screen and (min-width: 992px) {
  .header__login-list li a i {
    display: inline-block;
  }
}
.header__login-list li a span {
  margin: 0 0 0 0.25rem;
}

/* Page title */
.page-title {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .page-title {
    padding: 8rem 0;
  }
}
.page-title__heading {
  color: #1167B1;
  font-weight: 500;
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 5px black;
}
.page-title__heading + * {
  margin-top: 3rem !important;
}
.page-title__heading--light {
  color: white;
}
.page-title__sub-heading {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 0.5rem;
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 auto;
  max-width: 768px;
  padding: 1rem;
  text-align: center;
}
.page-title__sub-heading--light {
  background-color: transparent;
  color: #F8F9FA;
  padding: 0;
}
.page-title--dark::before {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(252, 179, 50, 0.5)), to(rgba(17, 103, 177, 0.5)));
  background-image: linear-gradient(to right, rgba(252, 179, 50, 0.5), rgba(17, 103, 177, 0.5));
  mix-blend-mode: darken;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.page-title--dark * {
  position: relative;
  z-index: 1;
}
.page-title--dark .page-title__heading {
  color: white;
}
.page-title--dark .page-title__sub-heading {
  color: white;
}
.page-title--about-us {
  background-image: url("../img/about-us-bg.jpg");
}
.page-title--agents {
  background-image: url("../img/agents-bg.jpg");
}
.page-title--properties {
  background-image: url("../img/properties-bg.jpg");
}
.page-title--property {
  background-image: url("../img/property-bg.jpg");
}
.page-title--contact {
  background-image: url("../img/contact-bg.jpg");
}

/* Home section */
.home {
  background-image: url("../img/home-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__container {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.home__title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 768px) {
  .home__title {
    font-size: 5rem;
  }
}
.home__description {
  color: white;
}
.home__cta {
  background-color: #fcb332;
  border: none;
  border-radius: 0.5rem;
  color: black;
  display: inline-block;
  margin-bottom: 2.5rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home__cta:focus, .home__cta:hover {
  background-color: black;
  color: #fcb332;
}
.home__features-item {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fcb332;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 992px) {
  .home__features-item {
    margin-bottom: 0;
  }
}
.home__features-item:focus, .home__features-item:hover {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transform: translatey(-0.25rem);
      -ms-transform: translatey(-0.25rem);
          transform: translatey(-0.25rem);
}
.home__features-item__title {
  color: #fcb332;
  font-size: 1.5rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .home__features-item__title {
    font-size: 3rem;
    text-align: left;
  }
}
.home__features-item__description {
  color: white;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .home__features-item__description {
    text-align: left;
  }
}

/* Featured properties */
.featured-properties {
  background-color: #F8F9FA;
  padding: 3rem 0;
}
.featured-properties__title {
  margin-bottom: 3rem;
  text-align: center;
}
.featured-properties__item {
  border: 1px solid #DEE2E6;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .featured-properties__item {
    margin-bottom: 0;
    min-height: 100%;
  }
}
.featured-properties__item-image {
  position: relative;
}
.featured-properties__item-bookmark {
  background-color: rgba(252, 179, 50, 0.75);
  border: none;
  color: white;
  font-size: 0.75rem;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.featured-properties__item-bookmark:focus, .featured-properties__item-bookmark:hover {
  background-color: #fcb332;
}
.featured-properties__item-bookmark--selected {
  background-color: #20bdbe;
}
.featured-properties__item-price {
  background-color: rgba(17, 103, 177, 0.75);
  bottom: 0;
  color: white;
  margin: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
}
.featured-properties__item .card-body {
  margin: 0;
  padding: 1rem;
}
.featured-properties__item .card-title {
  background-color: white;
  border-bottom: 1px solid #DEE2E6;
  color: #1167B1;
  margin: -1rem -1rem 1rem -1rem;
  padding: 0.5rem 1rem;
}
.featured-properties__item .card-title__address {
  display: block;
}
.featured-properties__item .card-title__address i {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  position: relative;
  top: -0.15rem;
}
.featured-properties__item .card-title__address-info {
  color: #6C757D;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 1rem;
}
.featured-properties__item .card-list {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;
}
.featured-properties__item .card-list li {
  background-color: white;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.25rem;
}
.featured-properties__item .card-list li i {
  margin-right: 0.25rem;
}
.featured-properties__item .card-list li + li {
  margin-left: 0.5rem;
}
.featured-properties__item .card-button {
  background-color: #323A4F;
  border: none;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.75rem 2rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.featured-properties__item .card-button:focus, .featured-properties__item .card-button:hover {
  background-color: #1167B1;
}
.featured-properties__item--main {
  background-color: white;
}
@media only screen and (min-width: 992px) {
  .featured-properties__item--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}
.featured-properties__item--main .card-title {
  color: #1167B1;
  font-size: 1.75rem;
  text-transform: uppercase;
}
.featured-properties__item--main .card-body {
  padding: 2rem;
}

/* Services */
.services {
  background-color: #1167B1;
  padding: 3rem 0;
}
.services__title {
  color: white;
  margin-bottom: 3rem;
  text-align: center;
}
.services__item {
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 2rem 1.5rem;
}
@media only screen and (min-width: 992px) {
  .services__item {
    height: 100%;
    margin-bottom: 0;
  }
}
.services__item-icon {
  background-color: #1167B1;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  height: 5rem;
  line-height: 5rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  width: 5rem;
}
.services__item-title {
  color: #1167B1;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.services__item p {
  color: #323A4F;
  text-align: center;
  margin: 0;
}

/* About us */
.about-us {
  background-color: white;
}
.about-us__main {
  background-color: #fcb332;
  padding: 3rem 0;
}
@media only screen and (min-width: 992px) {
  .about-us__main {
    padding: 0;
  }
}
.about-us__main-info, .about-us__main-img {
  min-height: 100%;
}
@media only screen and (min-width: 992px) {
  .about-us__main-info, .about-us__main-img {
    padding: 3rem;
  }
}
.about-us__main-info {
  margin: 0 0 3rem 0;
}
@media only screen and (min-width: 992px) {
  .about-us__main-info {
    margin: 0;
  }
}
.about-us__main-info h4 {
  color: black;
  font-weight: 500;
  margin: 0 0 2rem 0;
}
.about-us__main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-us__history {
  background-color: #F8F9FA;
}
@media only screen and (min-width: 992px) {
  .about-us__history-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.about-us__history-item {
  padding: 1.5rem 0;
}
.about-us__history-item + div {
  border-top: 1px solid #6C757D;
}
@media only screen and (min-width: 992px) {
  .about-us__history-item + div {
    border: none;
  }
}
@media only screen and (min-width: 992px) {
  .about-us__history-item {
    padding: 3rem;
  }
}
.about-us__history-item h4 {
  color: #1167B1;
  font-size: 1rem;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}

/* Testimonials */
.testimonials {
  background-color: white;
}
.testimonials__container {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.testimonials__item {
  border: 1px solid #DEE2E6;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}
@media only screen and (min-width: 992px) {
  .testimonials__item {
    margin-bottom: 0;
    padding: 3rem;
  }
}
.testimonials__item-quote {
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .testimonials__item-quote {
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: left;
  }
}
.testimonials__item-quote::after, .testimonials__item-quote::before {
  color: #fcb332;
  content: '"';
  font-size: 2rem;
  font-weight: 700;
  line-height: 1rem;
  vertical-align: middle;
}
.testimonials__item-quote::after {
  margin-left: 0.5rem;
}
.testimonials__item-quote::before {
  margin-right: 0.5rem;
}
.testimonials__item-name {
  color: #323A4F;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .testimonials__item-name {
    font-size: 1.5rem;
    text-align: left;
  }
}
.testimonials__item-city {
  color: #6C757D;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  .testimonials__item-city {
    font-size: 0.75rem;
    text-align: left;
  }
}
.testimonials__carousel {
  padding: 0 6rem;
}
.testimonials .carousel-control-prev,
.testimonials .carousel-control-next {
  background-color: #1167B1;
  border-radius: 50%;
  height: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
}
.testimonials .carousel-control-prev {
  left: 1rem;
}
.testimonials .carousel-control-next {
  right: 1rem;
}

/* Login */
.login, .sign-up {
  background-color: #1167B1;
  padding: 2.5rem 0;
}
@media only screen and (min-width: 992px) {
  .login, .sign-up {
    padding: 5rem 0;
  }
}
.login__form, .sign-up__form {
  background-color: white;
  padding: 2.5rem;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .login__form, .sign-up__form {
    padding: 5rem;
  }
}
.login__form__title, .sign-up__form__title {
  margin-bottom: 3rem;
  text-align: center;
}
.login__form__inputs + *, .sign-up__form__inputs + * {
  margin-top: 1rem;
}
.login__form__inputs-input, .sign-up__form__inputs-input {
  overflow: hidden;
  padding: 0;
}
.login__form__inputs-input input, .sign-up__form__inputs-input input {
  background-color: white;
  border: 1px solid #6C757D;
  color: #323A4F;
  font-size: 1em;
  font-weight: 500;
  line-height: 30px;
  outline: none;
  padding: 10px 15px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
}
.login__form__inputs-input input.has-error, .sign-up__form__inputs-input input.has-error {
  border-color: rgba(238, 57, 57, 0.5);
}
.login__form__inputs-input input::-webkit-input-placeholder, .sign-up__form__inputs-input input::-webkit-input-placeholder {
  color: #6C757D;
}
.login__form__inputs-input input::-moz-placeholder, .sign-up__form__inputs-input input::-moz-placeholder {
  color: #6C757D;
}
.login__form__inputs-input input:-ms-placeholder, .sign-up__form__inputs-input input:-ms-placeholder {
  color: #6C757D;
}
.login__form__inputs-input input:-moz-placeholder, .sign-up__form__inputs-input input:-moz-placeholder {
  color: #6C757D;
}
.login__form__inputs-input input:focus, .sign-up__form__inputs-input input:focus {
  border-color: #20bdbe;
}
.login__form__inputs-input input:disabled, .sign-up__form__inputs-input input:disabled {
  background-color: #DEE2E6;
  color: #6C757D;
}
.login__form__inputs-input span, .sign-up__form__inputs-input span {
  background-color: #EE3939;
  color: white;
  display: block;
  font-size: 0.6em;
  font-weight: 700;
  padding: 2px 5px;
  text-transform: uppercase;
}
.login__form__inputs-checkbox label, .sign-up__form__inputs-checkbox label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.login__form__inputs-checkbox label:focus, .login__form__inputs-checkbox label:hover, .sign-up__form__inputs-checkbox label:focus, .sign-up__form__inputs-checkbox label:hover {
  background-color: #DEE2E6;
}
.login__form__inputs-checkbox label span, .sign-up__form__inputs-checkbox label span {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.5rem;
}
.login__form__message-textarea, .sign-up__form__message-textarea {
  margin-bottom: 20px;
}
.login__form__message-textarea textarea, .sign-up__form__message-textarea textarea {
  background-color: white;
  border: 1px solid #6C757D;
  color: #323A4F;
  display: block;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  outline: none;
  padding: 15px;
  resize: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
}
.login__form__message-textarea textarea.has-error, .sign-up__form__message-textarea textarea.has-error {
  border-color: rgba(238, 57, 57, 0.5);
}
.login__form__message-textarea textarea::-webkit-input-placeholder, .sign-up__form__message-textarea textarea::-webkit-input-placeholder {
  color: #6C757D;
}
.login__form__message-textarea textarea::-moz-placeholder, .sign-up__form__message-textarea textarea::-moz-placeholder {
  color: #6C757D;
}
.login__form__message-textarea textarea:-ms-placeholder, .sign-up__form__message-textarea textarea:-ms-placeholder {
  color: #6C757D;
}
.login__form__message-textarea textarea:-moz-placeholder, .sign-up__form__message-textarea textarea:-moz-placeholder {
  color: #6C757D;
}
.login__form__message-textarea textarea:focus, .sign-up__form__message-textarea textarea:focus {
  border-color: #20bdbe;
}
.login__form__message-textarea textarea:disabled, .sign-up__form__message-textarea textarea:disabled {
  background-color: #DEE2E6;
  color: #6C757D;
}
.login__form__message-textarea span, .sign-up__form__message-textarea span {
  background-color: #EE3939;
  color: white;
  display: block;
  font-size: 0.6em;
  font-weight: 700;
  padding: 2px 5px;
  text-transform: uppercase;
}
.login__form__button, .sign-up__form__button {
  background-color: #20bdbe;
  border: none;
  color: white;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 60px;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
}
.login__form__button:hover, .sign-up__form__button:hover {
  color: white;
  background-color: #323A4F;
}

/* Properties */
.properties {
  background-color: #F8F9FA;
}
.properties__filter {
  padding-top: 3rem;
}
.properties__filter-form {
  background-color: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .properties__filter-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.properties__filter-form__select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 1rem 0;
}
@media only screen and (min-width: 992px) {
  .properties__filter-form__select {
    margin: 0 1rem 0 0;
  }
}
.properties__filter-form__select select {
  min-height: 100%;
}
.properties__filter-form button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
}
.properties__items {
  padding: 3rem 0;
}
.properties__item {
  border: 1px solid #DEE2E6;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.properties__item-image {
  position: relative;
}
.properties__item-category {
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
  color: white;
  font-size: 0.75rem;
  left: 0;
  padding: 0.75rem 1rem;
  position: absolute;
  text-transform: capitalize;
  top: 0;
}
.properties__item-bookmark {
  background-color: rgba(252, 179, 50, 0.75);
  border: none;
  color: white;
  font-size: 0.75rem;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.properties__item-bookmark:focus, .properties__item-bookmark:hover {
  background-color: #fcb332;
}
.properties__item-bookmark--selected {
  background-color: #20bdbe;
}
.properties__item-bookmark i {
  pointer-events: none;
}
.properties__item-price {
  background-color: rgba(17, 103, 177, 0.75);
  bottom: 0;
  color: white;
  margin: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
}
.properties__item .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 1rem;
}
.properties__item .card-title {
  background-color: white;
  border-bottom: 1px solid #DEE2E6;
  color: #1167B1;
  margin: -1rem -1rem 1rem -1rem;
  padding: 0.5rem 1rem;
}
.properties__item .card-title__address {
  display: block;
}
.properties__item .card-title__address i {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  position: relative;
  top: -0.15rem;
}
.properties__item .card-title__address-info {
  color: #6C757D;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 1rem;
}
.properties__item .card-list {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;
}
.properties__item .card-list li {
  background-color: white;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.25rem;
}
.properties__item .card-list li i {
  margin-right: 0.25rem;
}
.properties__item .card-list li + li {
  margin-left: 0.5rem;
}
.properties__item .card-button {
  background-color: #323A4F;
  border: none;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.75rem 2rem;
  margin: auto 0 0 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.properties__item .card-button:focus, .properties__item .card-button:hover {
  background-color: #1167B1;
}
.properties__item--main {
  background-color: white;
}
@media only screen and (min-width: 992px) {
  .properties__item--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}
.properties__item--main .card-title {
  color: #1167B1;
  font-size: 1.75rem;
  text-transform: uppercase;
}
.properties__item--main .card-body {
  padding: 2rem;
}

/* Property */
.property {
  background-color: white;
}
.property__main {
  padding: 3rem 0;
}
@media only screen and (min-width: 992px) {
  .property__main {
    padding: 0;
  }
}
.property__main-info, .property__main-details {
  min-height: 100%;
}
@media only screen and (min-width: 992px) {
  .property__main-info, .property__main-details {
    padding: 3rem;
  }
}
.property__main-info {
  margin: 0 0 3rem 0;
}
@media only screen and (min-width: 992px) {
  .property__main-info {
    margin: 0;
  }
}
.property__main-info h4 {
  color: black;
  font-weight: 500;
  margin: 0 0 2rem 0;
}
.property__main-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.property__main-details img {
  margin-bottom: 2rem;
}
.property__main-details table {
  border: 1px solid #fcb332;
  border-collapse: collapse;
}
.property__main-details table tr {
  border: 1px solid #fcb332;
}
.property__main-details table tr td {
  border: 1px solid #fcb332;
  padding: 0.5rem;
}
.property__main-details table tr td[scope=row] {
  background-color: #F8F9FA;
  font-weight: 500;
}

/* Agents */
.agents__team {
  position: relative;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.agents__team::before {
  background-color: #1167B1;
  bottom: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.agents__item {
  background-color: white;
  border: 1px solid #DEE2E6;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .agents__item {
    margin-bottom: 0;
  }
}
.agents__item-avatar {
  border-radius: 50%;
  margin: 0;
  overflow: hidden;
  margin: 2rem auto 0 auto;
  max-width: 6rem;
}
@media only screen and (min-width: 992px) {
  .agents__item-avatar {
    border-radius: 0;
    margin: 0;
    max-width: none;
  }
}
.agents__item-avatar img {
  max-width: none;
  width: 100%;
}
.agents__item-body {
  padding: 1.5rem 2rem;
}
.agents__item-name {
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}
.agents__item-position {
  color: #6C757D;
  font-size: 0.75rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}
.agents__item p {
  font-size: 0.8rem;
}
.agents__item-email {
  color: #fcb332;
  border: 1px solid #fcb332;
  border-radius: 0.75rem;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.05rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.agents__item-email:focus, .agents__item-email:hover {
  background-color: #fcb332;
  color: white;
}

/* Contact */
.contact__info {
  padding: 2rem 0;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .contact__info {
    padding: 0;
  }
}
.contact__info::before, .contact__info::after {
  bottom: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
@media only screen and (min-width: 992px) {
  .contact__info::before, .contact__info::after {
    content: "";
  }
}
.contact__info::before {
  background-color: #1167B1;
  left: 0;
  right: 50%;
}
.contact__info::after {
  background-color: white;
  left: 50%;
  right: 0;
}
.contact__info-item {
  background-color: #1167B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  padding: 3rem;
  z-index: 1;
}
.contact__info-item__title {
  color: #fcb332;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.contact__info-item__table {
  margin: 0;
  padding: 0;
}
.contact__info-item__table tr td {
  color: #6C757D;
  vertical-align: top;
}
.contact__info-item__table tr td[scope=row] {
  color: #1167B1;
  font-weight: 700;
}
.contact__info-item__table tr td a {
  color: #fcb332;
  text-decoration: none;
}
.contact__info-item__info {
  color: #F8F9FA;
}
.contact__info-item--light {
  background-color: white;
}
.contact__map iframe {
  height: 36rem;
  margin: 0;
  width: 100%;
}
.contact__cta {
  background-color: white;
  padding: 5rem 0;
}
.contact__cta__title {
  color: #1167B1;
  margin-bottom: 4rem;
  text-align: center;
}
.contact__cta__form {
  position: relative;
}
.contact__cta__form__inputs {
  margin: 0 -15px 15px -15px;
}
.contact__cta__form__inputs:after, .contact__cta__form__inputs:before {
  content: "";
  display: table;
}
.contact__cta__form__inputs:after {
  clear: both;
}
@media only screen and (min-width: 768px) {
  .contact__cta__form__inputs {
    margin-bottom: 0;
  }
}
.contact__cta__form__inputs__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  overflow: hidden;
  padding: 0 15px;
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .contact__cta__form__inputs__input {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
}
.contact__cta__form__inputs__input input {
  background-color: white;
  border: 1px solid #6C757D;
  color: #323A4F;
  font-size: 1em;
  font-weight: 500;
  line-height: 30px;
  outline: none;
  padding: 10px 15px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
}
.contact__cta__form__inputs__input input.has-error {
  border-color: rgba(238, 57, 57, 0.5);
}
.contact__cta__form__inputs__input input::-webkit-input-placeholder {
  color: #6C757D;
}
.contact__cta__form__inputs__input input::-moz-placeholder {
  color: #6C757D;
}
.contact__cta__form__inputs__input input:-ms-placeholder {
  color: #6C757D;
}
.contact__cta__form__inputs__input input:-moz-placeholder {
  color: #6C757D;
}
.contact__cta__form__inputs__input input:focus {
  border-color: #20bdbe;
}
.contact__cta__form__inputs__input input:disabled {
  background-color: #DEE2E6;
  color: #6C757D;
}
.contact__cta__form__inputs__input span {
  background-color: #EE3939;
  color: white;
  display: block;
  font-size: 0.6em;
  font-weight: 700;
  padding: 2px 5px;
  text-transform: uppercase;
}
.contact__cta__form__message-textarea {
  margin-bottom: 20px;
}
.contact__cta__form__message-textarea textarea {
  background-color: white;
  border: 1px solid #6C757D;
  color: #323A4F;
  display: block;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  outline: none;
  padding: 15px;
  resize: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
}
.contact__cta__form__message-textarea textarea.has-error {
  border-color: rgba(238, 57, 57, 0.5);
}
.contact__cta__form__message-textarea textarea::-webkit-input-placeholder {
  color: #6C757D;
}
.contact__cta__form__message-textarea textarea::-moz-placeholder {
  color: #6C757D;
}
.contact__cta__form__message-textarea textarea:-ms-placeholder {
  color: #6C757D;
}
.contact__cta__form__message-textarea textarea:-moz-placeholder {
  color: #6C757D;
}
.contact__cta__form__message-textarea textarea:focus {
  border-color: #20bdbe;
}
.contact__cta__form__message-textarea textarea:disabled {
  background-color: #DEE2E6;
  color: #6C757D;
}
.contact__cta__form__message-textarea span {
  background-color: #EE3939;
  color: white;
  display: block;
  font-size: 0.6em;
  font-weight: 700;
  padding: 2px 5px;
  text-transform: uppercase;
}
.contact__cta__form__button {
  background-color: #20bdbe;
  border: none;
  color: white;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 60px;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
}
.contact__cta__form__button:hover {
  color: white;
  background-color: #323A4F;
}
.contact .msg-response {
  border: 1px solid #6C757D;
  display: none;
  margin: 20px 0 0 0;
  padding: 20px;
  text-transform: uppercase;
}
.contact .msg-response.form-error {
  border-color: rgba(255, 0, 0, 0.5);
}
.contact .msg-response.form-success {
  border-color: rgba(0, 128, 0, 0.5);
}

/* Footer */
.footer {
  background-color: #323A4F;
  padding-top: 1.5rem;
}
.footer__brand {
  margin-bottom: 1rem;
}
.footer__brand-logo {
  display: block;
  height: auto;
  margin: 0 auto 1rem auto;
  max-width: 250px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .footer__brand-logo {
    margin: 0 0 1rem 0;
  }
}
.footer__brand-logo img {
  display: block;
  margin: 0 0 15px 0;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .footer__brand-logo img {
    margin: 0 auto;
  }
}
.footer__brand p {
  color: #DEE2E6;
}
.footer__info {
  margin-left: auto;
}
.footer__info-title {
  color: #fcb332;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  .footer__info-title {
    line-height: 3.125rem;
    margin: 0 0 1rem 0;
    text-align: left;
  }
}
.footer__info-menu {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .footer__info-menu {
    text-align: left;
  }
}
.footer__info-menu li {
  color: #DEE2E6;
  line-height: 1.5rem;
}
.footer__info-menu li + li {
  margin-top: 0.5rem;
}
.footer__info-menu li span {
  font-weight: 700;
}
.footer__info-menu li a {
  color: #fcb332;
}
.footer__copyright {
  clear: both;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.footer__copyright p {
  color: #fcb332;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  text-align: center;
}