/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Montserrat:wght@300;400;500;700&display=swap");
/* Default */
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  height: 100%;
}

body {
  background: #F8F9FA;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #323A4F;
  min-height: 100%;
}

.main {
  position: relative;
}

.section-title {
  color: #1167B1;
  font-weight: 300;
  margin-bottom: 3rem;
  text-align: center;
}
.section-title--light {
  color: white;
}

.section-subtitle {
  color: #6C757D;
  font-size: 1rem;
  font-weight: 300;
  margin: 0 auto 3rem auto;
  max-width: 768px;
  text-align: center;
}
.section-subtitle--light {
  color: #F8F9FA;
}

/* Header */
.header {
  background-color: white;
}
.header .navbar-brand {
  height: 37px;
  padding: 0;
}
.header .navbar-brand img {
  display: block;
  height: 100%;
  width: auto;
}
.header__login {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__login {
    display: block;
  }
}
.header__login-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .header__login-list li + li {
    margin: 0 0 0 0.5rem;
  }
}
.header__login-list li a {
  background-color: #323A4F;
  border-radius: 0.5rem;
  color: white;
  display: block;
  line-height: 2rem;
  padding: 0 0.5rem;
  text-decoration: none;
}
.header__login-list li a span {
  margin: 0 0 0 0.25rem;
}

/* Home section */
.home {
  background-image: url("../img/home-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__container {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.home__title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 768px) {
  .home__title {
    font-size: 5rem;
  }
}
.home__description {
  color: white;
}
.home__cta {
  background-color: #fcb332;
  border: none;
  border-radius: 0.5rem;
  color: black;
  margin-bottom: 2.5rem;
  padding: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home__cta:focus, .home__cta:hover {
  background-color: black;
  color: #fcb332;
}
.home__features-item {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fcb332;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 992px) {
  .home__features-item {
    margin-bottom: 0;
  }
}
.home__features-item:focus, .home__features-item:hover {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transform: translatey(-0.25rem);
      -ms-transform: translatey(-0.25rem);
          transform: translatey(-0.25rem);
}
.home__features-item__title {
  color: #fcb332;
  font-size: 1.5rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .home__features-item__title {
    font-size: 3rem;
    text-align: left;
  }
}
.home__features-item__description {
  color: white;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .home__features-item__description {
    text-align: left;
  }
}

.featured-properties {
  background-color: #F8F9FA;
  padding: 3rem 0;
}
.featured-properties__item {
  border: 1px solid #DEE2E6;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .featured-properties__item {
    margin-bottom: 0;
    min-height: 100%;
  }
}
.featured-properties__item-image {
  position: relative;
}
.featured-properties__item-bookmark {
  background-color: rgba(252, 179, 50, 0.75);
  border: none;
  color: white;
  font-size: 0.75rem;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.featured-properties__item-bookmark:focus, .featured-properties__item-bookmark:hover {
  background-color: #fcb332;
}
.featured-properties__item-bookmark--selected {
  background-color: #20bdbe;
}
.featured-properties__item-price {
  background-color: rgba(17, 103, 177, 0.75);
  bottom: 0;
  color: white;
  margin: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
}
.featured-properties__item .card-body {
  margin: 0;
  padding: 1rem;
}
.featured-properties__item .card-title {
  background-color: white;
  border-bottom: 1px solid #DEE2E6;
  color: #1167B1;
  margin: -1rem -1rem 1rem -1rem;
  padding: 0.5rem 1rem;
}
.featured-properties__item .card-title__address {
  display: block;
}
.featured-properties__item .card-title__address i {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  position: relative;
  top: -0.15rem;
}
.featured-properties__item .card-title__address-info {
  color: #6C757D;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 1rem;
}
.featured-properties__item .card-list {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;
}
.featured-properties__item .card-list li {
  background-color: white;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.25rem;
}
.featured-properties__item .card-list li i {
  margin-right: 0.25rem;
}
.featured-properties__item .card-list li + li {
  margin-left: 0.5rem;
}
.featured-properties__item .card-button {
  background-color: #323A4F;
  border: none;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.75rem 2rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.featured-properties__item .card-button:focus, .featured-properties__item .card-button:hover {
  background-color: #1167B1;
}
.featured-properties__item--main {
  background-color: white;
}
@media only screen and (min-width: 992px) {
  .featured-properties__item--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}
.featured-properties__item--main .card-title {
  color: #1167B1;
  font-size: 1.75rem;
  text-transform: uppercase;
}
.featured-properties__item--main .card-body {
  padding: 2rem;
}

.services {
  background-color: #1167B1;
  padding: 3rem 0;
}
.services__item {
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 2rem 1.5rem;
}
@media only screen and (min-width: 992px) {
  .services__item {
    height: 100%;
    margin-bottom: 0;
  }
}
.services__item-icon {
  background-color: #1167B1;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  height: 5rem;
  line-height: 5rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  width: 5rem;
}
.services__item-title {
  color: #1167B1;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.services__item p {
  color: #323A4F;
  text-align: center;
  margin: 0;
}

/* Agents */
.agents {
  position: relative;
}
.agents::before {
  background-color: #1167B1;
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.agents__container {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.agents__item {
  background-color: white;
  border: 1px solid #DEE2E6;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .agents__item {
    margin-bottom: 0;
  }
}
.agents__item-avatar {
  border-radius: 50%;
  margin: 0;
  overflow: hidden;
  margin: 2rem auto 0 auto;
  max-width: 6rem;
}
@media only screen and (min-width: 992px) {
  .agents__item-avatar {
    border-radius: 0;
    margin: 0;
    max-width: none;
  }
}
.agents__item-avatar img {
  max-width: none;
  width: 100%;
}
.agents__item-body {
  padding: 1.5rem 2rem;
}
.agents__item-name {
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}
.agents__item-position {
  color: #6C757D;
  font-size: 0.75rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}
.agents__item p {
  font-size: 0.8rem;
}
.agents__item-email {
  color: #fcb332;
  border: 1px solid #fcb332;
  border-radius: 0.75rem;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.05rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.agents__item-email:focus, .agents__item-email:hover {
  background-color: #fcb332;
  color: white;
}

/* Testimonials */
.testimonials {
  background-color: white;
}
.testimonials__container {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.testimonials__item {
  border: 1px solid #DEE2E6;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}
@media only screen and (min-width: 992px) {
  .testimonials__item {
    margin-bottom: 0;
    padding: 3rem;
  }
}
.testimonials__item-quote {
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .testimonials__item-quote {
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: left;
  }
}
.testimonials__item-quote::after, .testimonials__item-quote::before {
  color: #fcb332;
  content: '"';
  font-size: 2rem;
  font-weight: 700;
  line-height: 1rem;
  vertical-align: middle;
}
.testimonials__item-quote::after {
  margin-left: 0.5rem;
}
.testimonials__item-quote::before {
  margin-right: 0.5rem;
}
.testimonials__item-name {
  color: #323A4F;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .testimonials__item-name {
    font-size: 1.5rem;
    text-align: left;
  }
}
.testimonials__item-city {
  color: #6C757D;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  .testimonials__item-city {
    font-size: 0.75rem;
    text-align: left;
  }
}
.testimonials__carousel {
  padding: 0 6rem;
}
.testimonials .carousel-control-prev,
.testimonials .carousel-control-next {
  background-color: #1167B1;
  border-radius: 50%;
  height: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
}
.testimonials .carousel-control-prev {
  left: 1rem;
}
.testimonials .carousel-control-next {
  right: 1rem;
}

/* Footer */
.footer {
  background-color: #323A4F;
  padding-top: 1.5rem;
}
.footer__brand {
  margin-bottom: 1rem;
}
.footer__brand-logo {
  display: block;
  height: auto;
  margin: 0 auto 1rem auto;
  max-width: 250px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .footer__brand-logo {
    margin: 0 0 1rem 0;
  }
}
.footer__brand-logo img {
  display: block;
  margin: 0 0 15px 0;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .footer__brand-logo img {
    margin: 0 auto;
  }
}
.footer__brand p {
  color: #DEE2E6;
}
.footer__info {
  margin-left: auto;
}
.footer__info-title {
  color: #fcb332;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  .footer__info-title {
    line-height: 3.125rem;
    margin: 0 0 1rem 0;
    text-align: left;
  }
}
.footer__info-menu {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .footer__info-menu {
    text-align: left;
  }
}
.footer__info-menu li {
  color: #DEE2E6;
  line-height: 1.5rem;
}
.footer__info-menu li + li {
  margin-top: 0.5rem;
}
.footer__info-menu li span {
  font-weight: 700;
}
.footer__info-menu li a {
  color: #fcb332;
}
.footer__copyright {
  clear: both;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.footer__copyright p {
  color: #fcb332;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  text-align: center;
}